body {
    background-image:url(img.jpg);
    background-attachment: fixed;
    background-position: center;
}
.Detail{
    margin: 35px 35px;
    float: left;
    min-height: 50%;
    width:55%;
    box-shadow: 0 2px 16px rgba(0,0,0,0.8);
    background: rgba(116, 116, 116, 0.85);
    padding: 0px 1px 15px 10px;
    box-sizing: content-box;
    border-radius: 6px; /*Smoothens the curves of the box*/
}
.Detail:hover{
    background-color: rgba(0, 0, 0, 0.85);
    transition-duration: 0.3s;
}
.Detail h1{
    font-weight:bolder;
    color: beige;
    font-size:34px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Detail p{
    color: rgb(225, 222, 222);
    text-align: justify;
    padding-right: 20px;
    font-size: 19px;
    font-family: Helvetica;
}

.login {
    float: right;
    margin: 35px 35px ;
    min-height: 10%;
    width: 30%;
    box-shadow: 0 2px 16px rgba(0,0,0,0.8);
    background: rgba(252, 252, 252, 0.8);
    padding: 25px 1px 15px 10px;
    box-sizing: content-box;
    border-radius: 6px; /*Smoothens the curves of the box*/
}

.FI:hover{
    background-color: rgb(213, 218, 222);
    transition-duration: 0.3s;
}
.FI {
    display: block;
    margin: 0px 30px 0px;
    padding: 5px;
    width: 80%;
    height: 12%;
    box-sizing: border-box;
    border:none; /* border of input boxes */
    outline: none;
    border-bottom: 1px solid #aaa;
    border-radius: 6px;
    font: size 12px;
}

.sb:hover{
    background-color: rgb(1, 108, 230);
    transition-duration: 0.3s;
}
.sb{
    background-color: #767676;
    color: white;
    display: block;
    width:40%;
    height:35px;
    margin:auto; /*button at the center*/
    border-radius: 2px;
    border:none;
    font-size:  16px;
    cursor: pointer;
    font-family: Helvetica;
}
.prediction{
    height: auto;
    width: 30%;
    background-color: rgb(255, 255, 255,0.85);
    margin-top: 50px;
    margin-left: 200px;
    padding: 0px 15px 0px 15px;
    border-radius: 6px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.8);
    float:left;
    display: block;
}
.prediction:hover{
    background-color: rgb(255, 255, 255);
    transition-duration: 0.3s;
}
.prediction p{
    margin-left: 37px;
    color: rgb(1, 108, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: xx-large;
}